body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #a80d0d; /* Changed to black as per request */
}

.container {
    text-align: center;
}

.header_text {
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif-size {
    width: 500px; /* Or any size you prefer */
    height: 500px; /* Maintains aspect ratio */
}
.image-size {
    width: 200px; /* Or any size you prefer */
    height: auto; /* Maintains aspect ratio */
     position: relative;
    top: 100px; /* Moves the image down 10px from its normal position */
    left: 100px; /* Moves the image right 10px from its normal position */
}


.gif_container, .image-container img {
    margin: 0 5px; /* Adjust spacing between images */
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    background-color: #ff0026;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}
