body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000; /* Changed to black as per request */
}

.container {
    text-align: center;
}

.header_text {
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif_container, .image-container img {
    margin: 0 10px; /* Adjust spacing between images */
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    background-color: #ff0026;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}
